<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/adm.css">

    <title>ADM - BeHealthy</title>
</head>
<body>
    <main>
        <form action="/api/adicionar" method="post" enctype="multipart/form-data">
            <h1>Adicionar exercício</h1>
            <input type="text" placeholder="nome" name="name" class="ent" required>
            <div>
                <label for="description">Descrição:</label>
                <textarea name="description" cols="60" rows="10" id="description" required></textarea>
            </div>
            <input type="text" name="link" placeholder="link" class="ent" required>
            <input type="file" name="image" required>
            <select name="category">
                <option value="inferiores">Inferiores</option>
                <option value="superiores">Superiores</option>
                <option value="abdomen">Abdômen</option>
            </select>
            <button>Adicionar</button>
            <a href="/">Voltar</a>
        </form>
    </main>
</body>
</html>