<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>BeHealthy</title>
</head>
<body>

    <img class="top" src="/img/cloud.png">
    <img class="down" src="/img/cloud.png">
    <img class="logo" src="/img/logo.png">

    <main>
        <h1>BeHealhty</h1>
        <div>
            <p>Um site para auxiliar na execução correta de exercícios físicos, promovendo acesso à conteúdos seguros.</p>
        </div>
        <a href="/users/cadastrar">Conhecer</a>
    </main>

</body>
</html>