<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/adm.css"> <!-- reciclando CSS -->
    <link rel="stylesheet" href="/css/header.css">

    <title>BeHealthy</title>
</head>
<body>
    <header>
        <a href="/">
            <img class="logo" src="/img/logo.png">
        </a>
        <img class="user" src="/img/user.png">
    </header>
    <main>
        <form action="/users/login" method="post">
            <h1>Login</h1>
            <input class="inserir" type="email" placeholder="Email" name="email" required>
            <input class="inserir" type="password" placeholder="Senha" name="password" required>
            <input class="inserir" type="submit" value="Entrar">
            <a href="/users/cadastrar">Ainda não possuo uma conta</a>
        </form>
    </main>
</body>
</html>