<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/item.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>BeHealthy</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo.png">
        <ul>
            <li>
                <a href="/exercicios/inferiores">Inferiores</a>
            </li>
            <li>
                <a href="/exercicios/superiores">Superiores</a>
            </li>
            <li>
                <a href="/exercicios/abdomen">Abdômen</a>
            </li>
            <li>
                <a href="/exercicios/mais">
                    Mais sobre Exercícios
                </a>
            </li>
        </ul>
        <img class="user" src="/img/user.png" id="btn">
    </header>

    <div class="user-menu" id="user-menu">
        <% if (adm) { %>
            <a href="/exercicios/adicionar">ADICIONAR</a>
        <% }%>
        <a href="/users/favoritos">FAVORITOS</a>
        <a href="/users/sair">SAIR</a>
    </div>


    <main>

        <h2 class="card-title"><%= exercicio.name %></h2>

        <iframe width="560" height="315" src="<%= exercicio.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <p class="card-title"><%= exercicio.description %></p>
    </main>


    <script src="/js/script.js"></script>
</body>
</html>