body {
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

form {
    width: 30%;
    height: 80%;
    border: 1px solid;
    border-radius: 3em;
    background: #62B89E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

form input {
    border: none;
    outline: none;
    width: 90%;
    height: 2rem;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.inserir {
    padding-left: 1em;
}

form div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form div textarea {
    outline: none;
}

input[type='submit'] {
    cursor: pointer;
}

form input[type='file'] {
    width: 20rem;
    height: 10rem;
}