.resultados {
    width: 100%;
    min-height: 30em;
    height: auto;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.card {
    width: 85%;
    height: 15em;
    padding-left: 2em;
    background: #F4F4F4;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.card-img {
    width: 15%;
}

.bx {
    font-size: 32pt;
    color: red;
    display: flex;
    justify-self: end;
    cursor: pointer;
}

.bx-heart {
    color: #000;
}

.card-info a h2 {
    color: #000;
}